.containerDetail {
     
    background: url('./detail.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: aliceblue;
    /* max-width: 100vh */
    background-color: darkgray;
   
}

.info {
    
    
    
   
}



.flag {
    /*width: 150px;
    height: 80px;*/
    
}

.activities {
    margin: auto;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    border: 5px;
    background-color: lightgray;
    color: black;
}