.cardContainer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(61, 53, 73, 0.897), rgba(74, 39, 145, 0.726));
    border: 1px solid rgb(156, 150, 150);
    border-radius: 15px;
    padding: 17px;
    
    cursor: pointer;

    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}

.cardContainer:hover{
    transform: scale(1.05);
    border: 2px double rgb(95, 81, 133);
      transition: all 2s, ease;
}

.cardImage{
    border-radius: 10px;
    border: rgb(147, 112, 160) 3px solid ;
    width: 230px;
    height:190px;
    background-color: transparent;
    opacity: 0.9;
   
}  

.cardImage:hover{
    opacity: 1;
}